@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#heading {
    font-family: 'East Sea Dokdo', cursive;
    padding: 1rem;
    background-color: #FFD56F;
    color: brown;
    font-size: x-large;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
}

#output {
    border: 2px solid black;
    height: 10vh;
    width: 30%;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

textarea {
    width: 30%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}

textarea::placeholder {
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
}

#btn-translate {
    margin: 1rem;
    padding: 1.5rem;
    width: 30%;
    background-color: #FFD56F;
    color: rgb(194, 71, 71);
    border: 0px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    font-family: 'East Sea Dokdo', cursive;
    background-color: #FFD56F;
}

footer .desc {
    max-width: 50%;
    margin: auto;
    font-size: x-large;
}